<ion-card>
  <ion-card-header>
    <ion-card-title>Choose A Club</ion-card-title>
  </ion-card-header>
  
      <ion-loading *ngIf="isSpinning" message="Loading..." spinner="circles"></ion-loading>
    <div class="wheel" [style.transform]="'rotate(' + rotationAngle + 'deg)'" *ngIf="!isSpinning">
      <div *ngFor="let option of options" class="segment" [style.background]="getSegmentColor(option)">
        {{ option }}
      </div>
    </div>
    
    <div class="buttons">
      <button class="btn btn-primary" [disabled]="isSpinning" (click)="spinWheel()">Spin</button>
      <button class="btn btn-secondary" [disabled]="!isSpinning" (click)="respinWheel()">Respin</button>
      <button class="btn btn-secondary" (click)="resetWheel()">Reset</button>
    </div>
    
    <div *ngIf="!isSpinning && selectedOption" class="selected-option">
      Selected Option: {{ selectedOption }}
    </div>
     
</ion-card>
