<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Wheel Games">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Wheel Games</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Login">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Account">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
